<!-- search bar -->
<div class="search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/restaurant/search">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="search" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            value="{{keyword}}" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"></i>Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="index-body secondary-bar row">
  <div class="secondary-bar-outer">
    <div class="secondary-bar-inner">
      <div class="create-bar col-sm-3">
        {{!-- create new restaurant --}}
        {{#if keyword}}
        {{else}}
        <a class="btn btn-outline-primary" href="/restaurant/new" id="create-button"><i>
            Create
          </i></a>
        {{/if}}

      </div>
      <!-- sort -->
      <div class="sort-bar col-sm-3" id="sort-bar">
        <form method="GET" class="row">
          <div class="col-sm-9">
            <select id="order_selection" name="order_selection" class="form-select" aria-labelledby="form-selection">
              <option value="{{order_selection}}" selected hidden disabled> {{order_selection}}
              </option>
              <option class="dropdown-item" value="A->Z">A->Z</option>
              <option class="dropdown-item" value="Z->A">Z->A</option>
              <option class="dropdown-item" value="類別">類別</option>
              <option class="dropdown-item" value="地區">地區</option>
            </select>
          </div>
          <div class="col-sm-1">
            <button type="submit" class="btn" style="height:100%;border-color: #e7e7e7;color: black;"><i
                class="gg-sort-az"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- restaurant list -->
<div class="container mt-5">
  {{> message}}
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row row-cols-sm-3">
        {{#each restaurants as |restaurant|}}

        <div class="card mb-3 ">
          <img class="card-img-top" src="{{restaurant.image}}" alt="{{restaurant.name}}">
          <div class="card-body p-3">
            <h6 class="card-title mb-1">{{restaurant.name}}</h6>

            <div class="restaurant-category mb-1">
              <i class="fa fa-utensils pr-2"></i> {{restaurant.category}}
            </div>
            <div>
              <span class="badge rounded-pill bg-danger font-weight-normal">
                {{restaurant.rating}}
                <i class="fa fa-star fa-xs"></i>
              </span>
            </div>
          </div>
          <div class="index-three-button-outer">
            <div class="index-three-button-inner col">
              {{!--details --}}
              <div style="width: 80%; position: relative;">
                <a href="restaurant/{{restaurant.id}}">
                  <button type="button" class=" btn-primary  btn-sm " id="create-button"
                    style="width: 80%; position: relative;font-size:1.0vw;">Detail</button></a>
              </div>
              {{!-- modify --}}
              <div style="width: 80%; position: relative;">
                <a href="restaurant/{{restaurant.id}}/edit">
                  <button class="btn-success btn-sm row-sm-3" id="create-button"
                    style="width: 80%; position: relative;font-size:1.0vw;">Modify
                  </button></a>
              </div>

              {{!-- delete --}}
              <div style="width: 80%; position: relative;">
                <form action="/restaurant/{{restaurant.id}}?_method=DELETE" method="POST">
                  <button type="submit" class=" btn-sm btn-danger row-sm-3 "
                    style="width: 80%; position: relative;font-size:1.0vw;">Delete</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>

{{!-- page --}}
<div class=" index-body page-footer pagination justify-content-center row"
  style="padding-left:10%;padding-right:10%; padding-bottom:10%">
  <div class="col-sm-1">
    <form method="GET" style="display: inline;">
      <input type="hidden" name="page" value="{{prev}}" type="hidden">
      <button type="submit" class="btn btn-primary">prev</button>
    </form>
  </div>
  <div class="col-sm-1">
    <form method="GET" style="display: inline;">
      <input type="hidden" name="page" value="{{next}}" type="hidden">
      <button type="submit" class="btn btn-primary">next</button>
    </form>
  </div>
  <center>
    <div style="padding-left:10%; padding-top:1%; padding-right:10%"> --- Page {{page}} --- </div>
  </center>
</div>